<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="select">
            <name>jlauteEnvironment</name>
            <label>Environment</label>
            <store>
                <option>
                    <value>dev</value>
                    <label>dev</label>
                </option>
                <option>
                    <value>staging</value>
                    <label>staging</label>
                </option>
            </store>
        </element>
    </elements>

</config>
