<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="boolean">
            <name>jlaute_is_dev</name>
            <label>Dev Environment</label>
            <label lang="de">Dev Umgebung</label>
            <value>1</value>
        </element>
        <element type="boolean">
            <name>jlaute_is_staging</name>
            <label>Staging Environment</label>
            <label lang="de">Staging Umgebung</label>
            <value>0</value>
        </element>
    </elements>

</config>
